# Setup

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import re
import time
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

# Exploration

## Connect

In [2]:
URL = 'https://www.boliga.dk/salg/resultater?propertyType=1,2,3&municipality=101&salesDateMin=2015&salesDateMax=today&searchTab=1&sort=date-d&page=1'

# Set user agent
''' Link to find user agent
https://httpbin.org/get
'''
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/97.0.4692.99 Safari/537.36',
    "Accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.9", 
    "Accept-Encoding": "gzip, deflate, br"
}

In [ ]:
text = requests.get(URL,
                    headers = headers
                   )


text

## Read website

In [ ]:
soup1 = BeautifulSoup(text.content, 'html.parser')



print(soup1.prettify())

In [ ]:
soup1.findAll('table')[0].findAll('tr')[0]

In [ ]:
r1 = soup1.findAll('table')[0].findAll('tr')[0]

print(r1)

## Parse website

In [ ]:


r1_c = r1.find_all('td',  class_ = "table-col text-center")

l_values = []
t_address = r1.find('a', class_ = "text-primary font-weight-bolder text-left").text
t_type = r1.find('span', class_= 'icon').text


l_values.append(t_address)
l_values.append(t_type)

for c in r1_c:
    l_values.append(c.text)
    
    
print(l_values)

l_col_names = ['Address','Type', 'Price', 'Date_SellType', 'Size', 'Price_size', 'Rooms', 'Built', 'PriceChange', 'Link']

dict_row = dict(zip(l_col_names, l_values))

print(dict_row)

pd.DataFrame.from_dict([dict_row])

### Loop to parse website

In [ ]:
l_dfs = []

for r in soup1.findAll('table')[0].findAll('tr'):
    
    r1_c = r.find_all('td',  class_ = "table-col text-center")

    l_values = []
    t_address = r1.find('a', class_ = "text-primary font-weight-bolder text-left").text
    t_type = r1.find('span', class_= 'icon').text


    l_values.append(t_address)
    l_values.append(t_type)

    for c in r1_c:
        l_values.append(c.text)


    #print(l_values)

    l_col_names = ['Address','Type', 'Price', 'Date_SellType', 'Size', 'Price_size', 'Rooms', 'Built', 'PriceChange', 'Link']

    dict_row = dict(zip(l_col_names, l_values))

    #print(dict_row)

    df = pd.DataFrame.from_dict([dict_row])
    
    l_dfs.append(df)
    

pd.concat(l_dfs).head()

## Selenium

In [32]:
wd = webdriver.Chrome(executable_path='chromedriver.exe')

wd.get(URL)
    
wd.find_element_by_xpath('//*[@id="coiPage-1"]/div[2]/div[1]/button[2]').click()

In [35]:
table = wd.find_element_by_xpath('/html/body/app-root/app-scroll-position-restoration/app-main-layout/app-sold-properties-list/div[3]/app-sold-list-table/table')

l_dfs = []

for r in table.find_elements_by_tag_name('tr'):
    
    l_values = []
    
    l_values = r.text.split('\n')

        # Create list with column names
    l_col_names = ['Type', 'StreetAddress','Area', 'Price', 'Date','SellType', 'Size', 'Price_m2', 'Rooms_YearBuilt_PriceChange']

    # Zip values and columns names to dict
    dict_row = dict(zip(l_col_names, l_values))

    # Create data frame from dict
    df = pd.DataFrame.from_dict([dict_row])
    
    l_dfs.append(df)
    
pd.concat(l_dfs)

,Type,StreetAddress,Area,Price,Date,SellType,Size,Price_m2,Rooms_YearBuilt_PriceChange
0,E,"Amerika Plads 6, 3. th",2100 København Ø,5.000.000 kr.,17-01-2022,Alm. Salg,93 m²,53.763 kr/m²,3 2007 -5% Aktuel værdi
0,E,"Strandvejen 8, 3. tv",2100 København Ø,8.495.000 kr.,14-01-2022,Alm. Salg,170 m²,49.971 kr/m²,6 1929 Aktuel værdi
0,E,"Nørrebrogade 9F, 1. th",2200 København N,5.400.000 kr.,14-01-2022,Alm. Salg,105 m²,51.429 kr/m²,3 1863 -2% Aktuel værdi
0,E,"Badensgade 48, 2",2300 København S,7.200.000 kr.,14-01-2022,Alm. Salg,65 m²,110.769 kr/m²,3 1899 Aktuel værdi
0,E,"Badensgade 48, 1",2300 København S,7.200.000 kr.,14-01-2022,Alm. Salg,79 m²,91.139 kr/m²,3 1899 Aktuel værdi
0,E,"Badensgade 48, st",2300 København S,7.200.000 kr.,14-01-2022,Alm. Salg,79 m²,91.139 kr/m²,3 1899 Aktuel værdi
0,E,"Nattergalevej 52, 1. tv",2400 København NV,2.895.000 kr.,14-01-2022,Alm. Salg,54 m²,53.611 kr/m²,2 1937 0% Aktuel værdi
0,E,"Sorrentovej 14, 1. tv",2300 København S,2.330.000 kr.,14-01-2022,Alm. Salg,52 m²,44.808 kr/m²,2 1940 -2% Aktuel værdi
0,E,"Murmanskgade 3, st. tv",2150 Nordhavn,4.900.000 kr.,14-01-2022,Alm. Salg,162 m²,30.247 kr/m²,6 2017 Aktuel værdi
0,E,"Murmanskgade 3, 3. mf",2150 Nordhavn,8.972.500 kr.,14-01-2022,Alm. Salg,139 m²,64.550 kr/m²,3 2017 Aktuel værdi
0,R,Weysesgade 51,2100 København Ø,13.150.000 kr.,13-01-2022,Alm. Salg,136 m²,96.691 kr/m²,7 1892 -3% Aktuel værdi
0,E,"Kabbelejevej 13, 2. mf",2700 Brønshøj,1.505.000 kr.,13-01-2022,Fam. Salg,51 m²,29.510 kr/m²,2 1935 Aktuel værdi
0,E,"Gyldenlakvej 33, 3. tv",2300 København S,2.050.000 kr.,13-01-2022,Alm. Salg,57 m²,35.965 kr/m²,2 1938 -7% Aktuel værdi
0,E,"Halmtorvet 29B, 1. tv",1700 København V,1.207.560 kr.,13-01-2022,Alm. Salg,94 m²,12.846 kr/m²,3 1908 Aktuel værdi
0,E,"Søllerødgade 35, 3. th",2200 København N,1.060.000 kr.,13-01-2022,Fam. Salg,51 m²,20.784 kr/m²,2 1903 Aktuel værdi
0,R,Luftmarinegade 144,1432 København K,3.112.464 kr.,12-01-2022,Andet,148 m²,21.030 kr/m²,5 2012 Aktuel værdi
0,E,"Flensborggade 3, 1. tv",1669 København V,1.500.000 kr.,12-01-2022,Alm. Salg,52 m²,28.846 kr/m²,2 1896 Aktuel værdi
0,E,"Dybbølsgade 13, 2. tv",1721 København V,1.437.500 kr.,12-01-2022,Fam. Salg,61 m²,23.566 kr/m²,3 1908 Aktuel værdi
0,E,"Maribovej 17, st. tv",2500 Valby,2.025.000 kr.,12-01-2022,Alm. Salg,55 m²,36.818 kr/m²,2 1933 -3% Aktuel værdi
0,E,"Ved Ovnhallen 3, 1. tv",2500 Valby,4.800.000 kr.,12-01-2022,Alm. Salg,101 m²,47.525 kr/m²,3 2007 -4% Aktuel værdi
0,E,"Silkeborggade 43, 4. th",2100 København Ø,1.725.000 kr.,12-01-2022,Fam. Salg,69 m²,25.000 kr/m²,2 1916 Aktuel værdi
0,V,Rønhaven 9,2500 Valby,998.750 kr.,12-01-2022,Fam. Salg,124 m²,8.054 kr/m²,4 1934 Aktuel værdi
0,E,"Havdrupvej 71, st. th",2700 Brønshøj,3.000.000 kr.,11-01-2022,Fam. Salg,71 m²,42.254 kr/m²,3 1914 Aktuel værdi
0,E,"Havdrupvej 71, st. tv",2700 Brønshøj,3.000.000 kr.,11-01-2022,Fam. Salg,61 m²,49.180 kr/m²,3 1914 Aktuel værdi
0,E,"Havdrupvej 71, 1. th",2700 Brønshøj,3.000.000 kr.,11-01-2022,Fam. Salg,61 m²,49.180 kr/m²,3 1914 Aktuel værdi
0,E,"Havdrupvej 71, 2",2700 Brønshøj,3.000.000 kr.,11-01-2022,Fam. Salg,122 m²,24.590 kr/m²,6 1914 Aktuel værdi
0,E,"Havdrupvej 71, 1. tv",2700 Brønshøj,3.000.000 kr.,11-01-2022,Fam. Salg,61 m²,49.180 kr/m²,3 1914 Aktuel værdi
0,E,"Vestervang 32, 1. th",2500 Valby,1.325.000 kr.,11-01-2022,Alm. Salg,74 m²,17.905 kr/m²,2 1935 Aktuel værdi
0,E,"Toftegårds Allé 45, 2. tv",2500 Valby,4.300.000 kr.,11-01-2022,Alm. Salg,95 m²,45.263 kr/m²,4 1932 -4% Aktuel værdi
0,E,"Teglholm Allé 9D, st. th",2450 København SV,4.725.000 kr.,11-01-2022,Alm. Salg,93 m²,50.806 kr/m²,3 2006 0% Aktuel værdi
0,E,"Peter Fabers Gade 16, st. tv",2200 København N,1.780.000 kr.,11-01-2022,Fam. Salg,51 m²,34.902 kr/m²,2 1893 Aktuel værdi
0,R,Doris Lessings Vej 37B,2300 København S,6.300.000 kr.,10-01-2022,Alm. Salg,150 m²,42.000 kr/m²,5 2017 Aktuel værdi
0,E,"Hessensgade 43, 2. th",2300 København S,850.000 kr.,10-01-2022,Fam. Salg,46 m²,18.478 kr/m²,2 1962 Aktuel værdi
0,E,"Vestbanevej 14, 1. tv",2500 Valby,3.600.000 kr.,10-01-2022,Alm. Salg,77 m²,46.753 kr/m²,3 1934 -3% Aktuel værdi
0,E,"Lysefjordsgade 3, 1. tv",2300 København S,2.500.000 kr.,10-01-2022,Alm. Salg,58 m²,43.103 kr/m²,2 1912 -2% Aktuel værdi
0,V,Topasgangen 4,2300 København S,3.000.000 kr.,10-01-2022,Andet,60 m²,50.000 kr/m²,3 1950 Aktuel værdi
0,R,Robert Jacobsens Vej 10P,2300 København S,2.625.000 kr.,07-01-2022,Alm. Salg,114 m²,23.026 kr/m²,4 2016 Aktuel værdi
0,E,"Bryggerivej 8, st. tv",2500 Valby,1.207.500 kr.,07-01-2022,Fam. Salg,62 m²,19.476 kr/m²,2 1912 Aktuel værdi
0,E,"Kongelundsvej 71A, st. 2",2300 København S,1.700.000 kr.,07-01-2022,Alm. Salg,47 m²,36.170 kr/m²,1 1968 -5% Aktuel værdi
0,E,"C.F. Møllers Allé 56, st. tv",2300 København S,850.000 kr.,07-01-2022,Fam. Salg,94 m²,9.043 kr/m²,3 2007 Aktuel værdi
0,E,"Sundkaj 69, 4. tv",2150 Nordhavn,8.250.000 kr.,07-01-2022,Alm. Salg,118 m²,69.915 kr/m²,3 2018 -3% Aktuel værdi
0,V,Søndervigvej 54,2720 Vanløse,619.072 kr.,07-01-2022,Fam. Salg,156 m²,3.968 kr/m²,5 1930 Aktuel værdi
0,E,"Farumgade 1, 1. th",2200 København N,1.200.000 kr.,06-01-2022,Fam. Salg,51 m²,23.529 kr/m²,2 1892 Aktuel værdi
0,E,"Thingvalla Allé 27, st",2300 København S,3.510.000 kr.,06-01-2022,Fam. Salg,120 m²,29.250 kr/m²,4 1907 Aktuel værdi
0,E,"Thingvalla Allé 27, 1",2300 København S,3.510.000 kr.,06-01-2022,Fam. Salg,180 m²,19.500 kr/m²,7 1907 Aktuel værdi
0,E,"Fredericiagade 48, 2",1310 København K,3.950.000 kr.,06-01-2022,Alm. Salg,126 m²,31.349 kr/m²,3 1750 Aktuel værdi
0,V,Eskildstrupvej 7,2700 Brønshøj,562.939 kr.,06-01-2022,Alm. Salg,150 m²,3.127 kr/m²,8 1934 Aktuel værdi
0,E,"Korsørgade 44, 1. th",2100 København Ø,3.000.000 kr.,05-01-2022,Fam. Salg,62 m²,48.387 kr/m²,2 1911 Aktuel værdi
0,E,Overbys Allé 1A,2500 Valby,7.550.000 kr.,05-01-2022,Alm. Salg,121 m²,62.397 kr/m²,6 1900 -6% Aktuel værdi
0,E,"Lemnosvej 32, 1",2300 København S,3.950.000 kr.,05-01-2022,Alm. Salg,88 m²,44.886 kr/m²,3 1914 -1% Aktuel værdi

In [ ]:
#for r in wd.find_elements_by_tag_name('tr'):
#    print(r.text)
l_table_rows = WebDriverWait(wd, 10).until(
EC.presence_of_all_elements_located((By.TAG_NAME, 'tr'))
)

for r in l_table_rows:
    print(r.text)

,Type,StreetAddress,Area,Price,Date,SellType,Size,Price_m2,Rooms_YearBuilt_PriceChange
0,E,"Amerika Plads 6, 3. th",2100 København Ø,5.000.000 kr.,17-01-2022,Alm. Salg,93 m²,53.763 kr/m²,3 2007 -5% Aktuel værdi

In [46]:
buttons = wd.find_elements_by_class_name('page-button')

l_n_pages = []
for button in buttons:
    try:
        n_pages = int(button.text)
        print(n_pages)
        
        l_n_pages.append(n_pages)
    
    except:
        next

max(l_n_pages)

1
8
9
10
11
12
1078
1
8
9
10
11
12
1078

1078

In [44]:
i = 1
while i < 10:
    print(i)
    i += 1
    wd.find_element_by_xpath('/html/body/app-root/app-scroll-position-restoration/app-main-layout/app-sold-properties-list/div[3]/div/div/app-pagination/div/div[4]/a').click()

1
2
3
4
5
6
7
8
9

In [ ]:
l_n_pages = []
for button in soup1.find_all('a', class_= 'page-button'):
    try:
        n_pages = int(button.text)
        print(n_pages)
        
        l_n_pages.append(n_pages)
    
    except:
        next

max(l_n_pages)

In [ ]:
wd.

# Program

## Connect

In [2]:
URL = 'https://www.boliga.dk/salg/resultater?propertyType=1,2,3&municipality=101&salesDateMin=2015&salesDateMax=today&searchTab=1&sort=date-d&page=1'

# Set user agent
''' Link to find user agent
https://httpbin.org/get
'''
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/97.0.4692.99 Safari/537.36',
    "Accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.9", 
    "Accept-Encoding": "gzip, deflate, br"
}

## Function

### Function 1
Create function to scrape single page from Boliga.

In [51]:
def fun_scrape_boliga(
    wd, # Webdriver session
    #URL, # link to search
    do_print  = 0 # set 1 to print
):
    
    # Find table element
    
    table = WebDriverWait(wd, 10).until(
    EC.presence_of_element_located((By.XPATH, '/html/body/app-root/app-scroll-position-restoration/app-main-layout/app-sold-properties-list/div[3]/app-sold-list-table/table'))
    )

    #table = wd.find_element_by_xpath('/html/body/app-root/app-scroll-position-restoration/app-main-layout/app-sold-properties-list/div[3]/app-sold-list-table/table')
    
    #print(table.text)
    # Initialize empty list for data frames
    l_dfs = []
    
    
    
    l_table_rows = WebDriverWait(wd, 20).until(
    EC.presence_of_all_elements_located((By.TAG_NAME, 'tr'))
    )
    
    
    
    # Loop through table rows
    for r in l_table_rows:
        
        #print(r.text)
        # Split text to list
        
        l_values = r.text.split('\n')
        
            
        #print(l_values)

        # Create list with column names
        l_col_names = ['Type', 'StreetAddress','Area', 'Price', 'Date','SellType', 'Size', 'Price_m2', 'Rooms_YearBuilt_PriceChange']

        # Zip values and columns names to dict
        dict_row = dict(zip(l_col_names, l_values))

        # Create data frame from dict
        df = pd.DataFrame.from_dict([dict_row])

        l_dfs.append(df)
        
        if print == 1:
            print('Row {} parsed'.format(count))
    
        
    # Concatenate dataframes to one, and return
    df_out = pd.concat(l_dfs)
    
    print('Page parsed')
    return df_out

### Function 2
Create function to loop through all pages of search on Boliga

In [61]:
def fun_loop_boliga(
    wd, # Webdriver session
   # URL, # link to Boliga search
    max_pages = 2000,
    sleep_time = 2
):

    ## Find number of pages ## 
    # Find buttons 
    l_buttons = wd.find_elements_by_class_name('page-button')
    
    # Initialize empty list to store number of pages
    l_n_pages = []
    
    # For ech bottong, save text in list
    for button in l_buttons:
        try:
            n_pages = int(button.text)
            
            l_n_pages.append(n_pages)
        except:
            next
            
    # Find maximum in list
    max(l_n_pages)
    n_pages = max(l_n_pages)
    print('Number of pages: {}'.format(n_pages))
      
    # Change number of pages if maximum is exceeded
    if max_pages < n_pages:
        n_pages = max_pages
        print('Number of pages set to max. pages: {}'.format(n_pages))
    
    
    ## Loop through pages ## 
    # Initialize empty list of data frames
    l_dfs = []
    
    i = 1
    while i <= n_pages:

        time.sleep(sleep_time)
        
        # Scrape page
        df = fun_scrape_boliga(wd)
        
        df.to_csv('Files/BoligaScraping_Page_{}.csv'.format(i))
        
        print(i)
        i += 1
                
        # Append data frame to list
        l_dfs.append(df)
        
        #print('Page {} scraped'.format(i))
        wd.find_element_by_xpath('/html/body/app-root/app-scroll-position-restoration/app-main-layout/app-sold-properties-list/div[3]/div/div/app-pagination/div/div[4]/a').click()
        
        
    # Concatenate data frames
    df_out = pd.concat(l_dfs)
    
    return(df_out)

In [59]:
wd = webdriver.Chrome(executable_path='chromedriver.exe')

wd.get(URL)


    
wd.find_element_by_xpath('//*[@id="coiPage-1"]/div[2]/div[1]/button[2]').click()


df = fun_loop_boliga(wd,max_pages = 1100, sleep_time = 3)

Number of pages: 1078
Page parsed
1
Page parsed
2
Page parsed
3
Page parsed
4
Page parsed
5
Page parsed
6
Page parsed
7
Page parsed
8
Page parsed
9
Page parsed
10
Page parsed
11
Page parsed
12
Page parsed
13
Page parsed
14
Page parsed
15
Page parsed
16
Page parsed
17
Page parsed
18
Page parsed
19
Page parsed
20
Page parsed
21
Page parsed
22
Page parsed
23
Page parsed
24
Page parsed
25
Page parsed
26
Page parsed
27
Page parsed
28
Page parsed
29
Page parsed
30
Page parsed
31
Page parsed
32
Page parsed
33
Page parsed
34
Page parsed
35
Page parsed
36
Page parsed
37
Page parsed
38
Page parsed
39
Page parsed
40
Page parsed
41
Page parsed
42
Page parsed
43
Page parsed
44
Page parsed
45
Page parsed
46
Page parsed
47
Page parsed
48
Page parsed
49
Page parsed
50
Page parsed
51
Page parsed
52
Page parsed
53
Page parsed
54
Page parsed
55
Page parsed
56
Page parsed
57
Page parsed
58
Page parsed
59
Page parsed
60
Page parsed
61
Page parsed
62
Page parsed
63
Page parsed
64
Page parsed
65
Page parsed
66
Page parsed
67
Page parsed
68
Page parsed
69
Page parsed
70
Page parsed
71
No data found
No data found
No data found
No data found
No data found
No data found
No data found
No data found
No data found
No data found
No data found
No data found
No data found
No data found
No data found
No data found
No data found
Page parsed
72
No data found
No data found
No data found
No data found
No data found
No data found
No data found
No data found
Page parsed
73
Page parsed
74
Page parsed
75
Page parsed
76
Page parsed
77
Page parsed
78
Page parsed
79
Page parsed
80
Page parsed
81
Page parsed
82
Page parsed
83
Page parsed
84
Page parsed
85
Page parsed
86
Page parsed
87
Page parsed
88
Page parsed
89
Page parsed
90
Page parsed
91
Page parsed
92
Page parsed
93
Page parsed
94
Page parsed
95
Page parsed
96
Page parsed
97
Page parsed
98
Page parsed
99
Page parsed
100
Page parsed
101
Page parsed
102
Page parsed
103
Page parsed
104
Page parsed
105
Page parsed
106
Page parsed
107
Page parsed
108
Page parsed
109
Page parsed
110
Page parsed
111
Page parsed
112
Page parsed
113
Page parsed
114
Page parsed
115
Page parsed
116
Page parsed
117
Page parsed
118
Page parsed
119
Page parsed
120
Page parsed
121
Page parsed
122
Page parsed
123
Page parsed
124
Page parsed
125
Page parsed
126
Page parsed
127
Page parsed
128
Page parsed
129
Page parsed
130
Page parsed
131
Page parsed
132
Page parsed
133
Page parsed
134
Page parsed
135
Page parsed
136
Page parsed
137
Page parsed
138
Page parsed
139
Page parsed
140
Page parsed
141
Page parsed
142
Page parsed
143
Page parsed
144
Page parsed
145
Page parsed
146
Page parsed
147
Page parsed
148
Page parsed
149
Page parsed
150
Page parsed
151
Page parsed
152
Page parsed
153
Page parsed
154
Page parsed
155
Page parsed
156
Page parsed
157
Page parsed
158
Page parsed
159
Page parsed
160
Page parsed
161
Page parsed
162
Page parsed
163
Page parsed
164
Page parsed
165
Page parsed
166
Page parsed
167
Page parsed
168
Page parsed
169
Page parsed
170
Page parsed
171
Page parsed
172
Page parsed
173
Page parsed
174
Page parsed
175
Page parsed
176
Page parsed
177
Page parsed
178
Page parsed
179
Page parsed
180
Page parsed
181
Page parsed
182
Page parsed
183
Page parsed
184
Page parsed
185
Page parsed
186
Page parsed
187
Page parsed
188
Page parsed
189
Page parsed
190
Page parsed
191
Page parsed
192
Page parsed
193
Page parsed
194
Page parsed
195
Page parsed
196
Page parsed
197
Page parsed
198
Page parsed
199
Page parsed
200
Page parsed
201
Page parsed
202
Page parsed
203
Page parsed
204
Page parsed
205
Page parsed
206
Page parsed
207
Page parsed
208
Page parsed
209
Page parsed
210
Page parsed
211
Page parsed
212
Page parsed
213
Page parsed
214
Page parsed
215
Page parsed
216
Page parsed
217
Page parsed
218
Page parsed
219
Page parsed
220
Page parsed
221
Page parsed
222
Page parsed
223
Page parsed
224
Page parsed
225
Page parsed
226
Page parsed
227
Page parsed
228
Page parsed
229
Page parsed
230
Page parsed
231
Page parsed
232
Page parsed
233
Page parsed
234
Page parsed
235
Page parsed
236
Page parsed
237
Page parsed
238
Page parsed
239
Page parsed
240
Page parsed
241
Page parsed
242
Page parsed
243
Page parsed
244
Page parsed
245
Page parsed
246
Page parsed
247
Page parsed
248
Page parsed
249
Page parsed
250
Page parsed
251
Page parsed
252
Page parsed
253
Page parsed
254
Page parsed
255
Page parsed
256
Page parsed
257
Page parsed
258
Page parsed
259
Page parsed
260
Page parsed
261
Page parsed
262
Page parsed
263
Page parsed
264
Page parsed
265
Page parsed
266
Page parsed
267
Page parsed
268
Page parsed
269
Page parsed
270
Page parsed
271
Page parsed
272
Page parsed
273
Page parsed
274
Page parsed
275
Page parsed
276
Page parsed
277
Page parsed
278
Page parsed
279
Page parsed
280
Page parsed
281
Page parsed
282
Page parsed
283
Page parsed
284
Page parsed
285
Page parsed
286
Page parsed
287
Page parsed
288
Page parsed
289
Page parsed
290
Page parsed
291
Page parsed
292
Page parsed
293
Page parsed
294
Page parsed
295
Page parsed
296
Page parsed
297
Page parsed
298
Page parsed
299
Page parsed
300
Page parsed
301
Page parsed
302
Page parsed
303
Page parsed
304
Page parsed
305
Page parsed
306
Page parsed
307
Page parsed
308
Page parsed
309
Page parsed
310
Page parsed
311
Page parsed
312
Page parsed
313
Page parsed
314
Page parsed
315
Page parsed
316
Page parsed
317
Page parsed
318
Page parsed
319
Page parsed
320
Page parsed
321
Page parsed
322
Page parsed
323
Page parsed
324
Page parsed
325
Page parsed
326
Page parsed
327
Page parsed
328
Page parsed
329
Page parsed
330
Page parsed
331
Page parsed
332
Page parsed
333
Page parsed
334
Page parsed
335
Page parsed
336
Page parsed
337
Page parsed
338
Page parsed
339
Page parsed
340
Page parsed
341
Page parsed
342
Page parsed
343
Page parsed
344
Page parsed
345
Page parsed
346
Page parsed
347
Page parsed
348
Page parsed
349
Page parsed
350
Page parsed
351
Page parsed
352
Page parsed
353
Page parsed
354
Page parsed
355
Page parsed
356
Page parsed
357
Page parsed
358
Page parsed
359
Page parsed
360
Page parsed
361
Page parsed
362
Page parsed
363
Page parsed
364
Page parsed
365
Page parsed
366
Page parsed
367
Page parsed
368
Page parsed
369
Page parsed
370
Page parsed
371
Page parsed
372
Page parsed
373
Page parsed
374
Page parsed
375
Page parsed
376
Page parsed
377
Page parsed
378
Page parsed
379
Page parsed
380
Page parsed
381
Page parsed
382
Page parsed
383
Page parsed
384
Page parsed
385
Page parsed
386
Page parsed
387
Page parsed
388
Page parsed
389
Page parsed
390
Page parsed
391
Page parsed
392
Page parsed
393
Page parsed
394
Page parsed
395
Page parsed
396
Page parsed
397
Page parsed
398
Page parsed
399
Page parsed
400
Page parsed
401
Page parsed
402
Page parsed
403
Page parsed
404
Page parsed
405
Page parsed
406
Page parsed
407
Page parsed
408
Page parsed
409
Page parsed
410
Page parsed
411
Page parsed
412
Page parsed
413
Page parsed
414
Page parsed
415
Page parsed
416
Page parsed
417
Page parsed
418
Page parsed
419
Page parsed
420
Page parsed
421
Page parsed
422
Page parsed
423
Page parsed
424
Page parsed
425
Page parsed
426
Page parsed
427
Page parsed
428
Page parsed
429
Page parsed
430
Page parsed
431
Page parsed
432
Page parsed
433
Page parsed
434
Page parsed
435
Page parsed
436
Page parsed
437
Page parsed
438
Page parsed
439
Page parsed
440
Page parsed
441
Page parsed
442
Page parsed
443
Page parsed
444
Page parsed
445
Page parsed
446
Page parsed
447
Page parsed
448
Page parsed
449
Page parsed
450
Page parsed
451
Page parsed
452
Page parsed
453
Page parsed
454
Page parsed
455
Page parsed
456
Page parsed
457
Page parsed
458
Page parsed
459
Page parsed
460
Page parsed
461
Page parsed
462
Page parsed
463
Page parsed
464
Page parsed
465
Page parsed
466
Page parsed
467
Page parsed
468
Page parsed
469
Page parsed
470
Page parsed
471
Page parsed
472
Page parsed
473
Page parsed
474
Page parsed
475
Page parsed
476
Page parsed
477
Page parsed
478
Page parsed
479
Page parsed
480
Page parsed
481
Page parsed
482
Page parsed
483
Page parsed
484
Page parsed
485
Page parsed
486
Page parsed
487
Page parsed
488
Page parsed
489
Page parsed
490
Page parsed
491
Page parsed
492
Page parsed
493
Page parsed
494
Page parsed
495
Page parsed
496
Page parsed
497
Page parsed
498
Page parsed
499
Page parsed
500
Page parsed
501
Page parsed
502
Page parsed
503
Page parsed
504
Page parsed
505
Page parsed
506
Page parsed
507
Page parsed
508
Page parsed
509
Page parsed
510
Page parsed
511
Page parsed
512
Page parsed
513
Page parsed
514
Page parsed
515
Page parsed
516
Page parsed
517
Page parsed
518
Page parsed
519
Page parsed
520
Page parsed
521
Page parsed
522
Page parsed
523
Page parsed
524
Page parsed
525
Page parsed
526
Page parsed
527
Page parsed
528
Page parsed
529
Page parsed
530
Page parsed
531
Page parsed
532
Page parsed
533
Page parsed
534
Page parsed
535
Page parsed
536
Page parsed
537
Page parsed
538
Page parsed
539
Page parsed
540
Page parsed
541
Page parsed
542
Page parsed
543
Page parsed
544
Page parsed
545
Page parsed
546
Page parsed
547
Page parsed
548
Page parsed
549
Page parsed
550
Page parsed
551
Page parsed
552
Page parsed
553
Page parsed
554
Page parsed
555
Page parsed
556
Page parsed
557
Page parsed
558
Page parsed
559
Page parsed
560
Page parsed
561
Page parsed
562
Page parsed
563
Page parsed
564
Page parsed
565
Page parsed
566
Page parsed
567
Page parsed
568
Page parsed
569
Page parsed
570
Page parsed
571
Page parsed
572
Page parsed
573
Page parsed
574
Page parsed
575
Page parsed
576
Page parsed
577
Page parsed
578
Page parsed
579
Page parsed
580
Page parsed
581
Page parsed
582
Page parsed
583
Page parsed
584
Page parsed
585
Page parsed
586
Page parsed
587
Page parsed
588
Page parsed
589
Page parsed
590
Page parsed
591
Page parsed
592
Page parsed
593
Page parsed
594
Page parsed
595
Page parsed
596
Page parsed
597
Page parsed
598
Page parsed
599
Page parsed
600
Page parsed
601
Page parsed
602
Page parsed
603
Page parsed
604
Page parsed
605
Page parsed
606
Page parsed
607
Page parsed
608
Page parsed
609
Page parsed
610
Page parsed
611
Page parsed
612
Page parsed
613
Page parsed
614
Page parsed
615
Page parsed
616
Page parsed
617
Page parsed
618
Page parsed
619
Page parsed
620
Page parsed
621
Page parsed
622
Page parsed
623
Page parsed
624
Page parsed
625
Page parsed
626
Page parsed
627
Page parsed
628
Page parsed
629
Page parsed
630
Page parsed
631
Page parsed
632
Page parsed
633
Page parsed
634
Page parsed
635
Page parsed
636
Page parsed
637
Page parsed
638
Page parsed
639
Page parsed
640
Page parsed
641
Page parsed
642
Page parsed
643
Page parsed
644
Page parsed
645
Page parsed
646
Page parsed
647
Page parsed
648
Page parsed
649
Page parsed
650
Page parsed
651
Page parsed
652
Page parsed
653
Page parsed
654
Page parsed
655
Page parsed
656
Page parsed
657
Page parsed
658
Page parsed
659
Page parsed
660
Page parsed
661
Page parsed
662
Page parsed
663
Page parsed
664
Page parsed
665
Page parsed
666
Page parsed
667
Page parsed
668
Page parsed
669
Page parsed
670
Page parsed
671
Page parsed
672
Page parsed
673
No data found
No data found
No data found
No data found
No data found
No data found
No data found
No data found
No data found
No data found
No data found
No data found
No data found
No data found
No data found
No data found
No data found
No data found
No data found
No data found
No data found
No data found
No data found
No data found
No data found
No data found
No data found
No data found
No data found
No data found
No data found
No data found
No data found
No data found
No data found
No data found
Page parsed
674
Page parsed
675
Page parsed
676
Page parsed
677
Page parsed
678
Page parsed
679
Page parsed
680
Page parsed
681
Page parsed
682
Page parsed
683
Page parsed
684
Page parsed
685
Page parsed
686
Page parsed
687
Page parsed
688
Page parsed
689
Page parsed
690
Page parsed
691
Page parsed
692
Page parsed
693
Page parsed
694
Page parsed
695
Page parsed
696
Page parsed
697
Page parsed
698
Page parsed
699
Page parsed
700
Page parsed
701
Page parsed
702
Page parsed
703
Page parsed
704
Page parsed
705
Page parsed
706
Page parsed
707
Page parsed
708
Page parsed
709
Page parsed
710
Page parsed
711
Page parsed
712
Page parsed
713
Page parsed
714
Page parsed
715
Page parsed
716
Page parsed
717
Page parsed
718
Page parsed
719
Page parsed
720
Page parsed
721
Page parsed
722
Page parsed
723
Page parsed
724
Page parsed
725
Page parsed
726
Page parsed
727
Page parsed
728
Page parsed
729
Page parsed
730
Page parsed
731
Page parsed
732
Page parsed
733
Page parsed
734
Page parsed
735
Page parsed
736
Page parsed
737
Page parsed
738
Page parsed
739
Page parsed
740
Page parsed
741
Page parsed
742
Page parsed
743
Page parsed
744
Page parsed
745
Page parsed
746
Page parsed
747
Page parsed
748
Page parsed
749
Page parsed
750
Page parsed
751
Page parsed
752
Page parsed
753
Page parsed
754
Page parsed
755
Page parsed
756
Page parsed
757
Page parsed
758
Page parsed
759
Page parsed
760
Page parsed
761
Page parsed
762
Page parsed
763
Page parsed
764
Page parsed
765
Page parsed
766
Page parsed
767
Page parsed
768
Page parsed
769
Page parsed
770
Page parsed
771
Page parsed
772
Page parsed
773
Page parsed
774
Page parsed
775
Page parsed
776
Page parsed
777
Page parsed
778
Page parsed
779
Page parsed
780
Page parsed
781
Page parsed
782
Page parsed
783
Page parsed
784
Page parsed
785
Page parsed
786
Page parsed
787
Page parsed
788
Page parsed
789
Page parsed
790
Page parsed
791
Page parsed
792
Page parsed
793
Page parsed
794
Page parsed
795
Page parsed
796
Page parsed
797
Page parsed
798
Page parsed
799
Page parsed
800
Page parsed
801
Page parsed
802
Page parsed
803
Page parsed
804
Page parsed
805
Page parsed
806
Page parsed
807
Page parsed
808
Page parsed
809
Page parsed
810
Page parsed
811
Page parsed
812
Page parsed
813
Page parsed
814
Page parsed
815
Page parsed
816
Page parsed
817
Page parsed
818
Page parsed
819
Page parsed
820
Page parsed
821
Page parsed
822
Page parsed
823
Page parsed
824
Page parsed
825
Page parsed
826
Page parsed
827
Page parsed
828
Page parsed
829
Page parsed
830
Page parsed
831
Page parsed
832
Page parsed
833
Page parsed
834
Page parsed
835
Page parsed
836
Page parsed
837
Page parsed
838
Page parsed
839
Page parsed
840
Page parsed
841
Page parsed
842
Page parsed
843
Page parsed
844
Page parsed
845
Page parsed
846
Page parsed
847
Page parsed
848
Page parsed
849
Page parsed
850
Page parsed
851
Page parsed
852
Page parsed
853
Page parsed
854
Page parsed
855
Page parsed
856
Page parsed
857
Page parsed
858
Page parsed
859
Page parsed
860
Page parsed
861
Page parsed
862
Page parsed
863
Page parsed
864
Page parsed
865
Page parsed
866
Page parsed
867
Page parsed
868
Page parsed
869
Page parsed
870
Page parsed
871
Page parsed
872
Page parsed
873
Page parsed
874
Page parsed
875
Page parsed
876
Page parsed
877
Page parsed
878
Page parsed
879
Page parsed
880
Page parsed
881
Page parsed
882
Page parsed
883
Page parsed
884
Page parsed
885
Page parsed
886
Page parsed
887
Page parsed
888
Page parsed
889
Page parsed
890
Page parsed
891
Page parsed
892
Page parsed
893
Page parsed
894
Page parsed
895
Page parsed
896
Page parsed
897
Page parsed
898
Page parsed
899
Page parsed
900
Page parsed
901
Page parsed
902
Page parsed
903
Page parsed
904
Page parsed
905
Page parsed
906
Page parsed
907
Page parsed
908
Page parsed
909
Page parsed
910
Page parsed
911
Page parsed
912
Page parsed
913
Page parsed
914
Page parsed
915
Page parsed
916
Page parsed
917
Page parsed
918
Page parsed
919
Page parsed
920
Page parsed
921
Page parsed
922
Page parsed
923
Page parsed
924
Page parsed
925
Page parsed
926
Page parsed
927
Page parsed
928
Page parsed
929
Page parsed
930
Page parsed
931
Page parsed
932
Page parsed
933
Page parsed
934
Page parsed
935
Page parsed
936
Page parsed
937
Page parsed
938
Page parsed
939
Page parsed
940
Page parsed
941
Page parsed
942
Page parsed
943
Page parsed
944
Page parsed
945
Page parsed
946
Page parsed
947
Page parsed
948
Page parsed
949
Page parsed
950
Page parsed
951
Page parsed
952
Page parsed
953
Page parsed
954
Page parsed
955
Page parsed
956
Page parsed
957
Page parsed
958
Page parsed
959
Page parsed
960
Page parsed
961
Page parsed
962
Page parsed
963
Page parsed
964
Page parsed
965
Page parsed
966
Page parsed
967
Page parsed
968
Page parsed
969
Page parsed
970
Page parsed
971
Page parsed
972
Page parsed
973
Page parsed
974
Page parsed
975
Page parsed
976
Page parsed
977
Page parsed
978
Page parsed
979
Page parsed
980
Page parsed
981
Page parsed
982
Page parsed
983
Page parsed
984
Page parsed
985
Page parsed
986
Page parsed
987
Page parsed
988
Page parsed
989
Page parsed
990
Page parsed
991
Page parsed
992
Page parsed
993
Page parsed
994
Page parsed
995
Page parsed
996
Page parsed
997
Page parsed
998
Page parsed
999
Page parsed
1000
Page parsed
1001
Page parsed
1002
Page parsed
1003
Page parsed
1004
Page parsed
1005
Page parsed
1006
Page parsed
1007
Page parsed
1008
Page parsed
1009
Page parsed
1010
Page parsed
1011
Page parsed
1012
Page parsed
1013
Page parsed
1014
Page parsed
1015
Page parsed
1016
Page parsed
1017
Page parsed
1018
Page parsed
1019
Page parsed
1020
Page parsed
1021
Page parsed
1022
Page parsed
1023
Page parsed
1024
Page parsed
1025
Page parsed
1026
Page parsed
1027
Page parsed
1028
Page parsed
1029
Page parsed
1030
Page parsed
1031
Page parsed
1032
Page parsed
1033
Page parsed
1034
Page parsed
1035
Page parsed
1036
Page parsed
1037
Page parsed
1038
Page parsed
1039
Page parsed
1040
Page parsed
1041
Page parsed
1042
Page parsed
1043
Page parsed
1044
Page parsed
1045
Page parsed
1046
Page parsed
1047
Page parsed
1048
Page parsed
1049
Page parsed
1050
Page parsed
1051
Page parsed
1052
Page parsed
1053
Page parsed
1054
Page parsed
1055
Page parsed
1056
Page parsed
1057
Page parsed
1058
Page parsed
1059
Page parsed
1060
Page parsed
1061
Page parsed
1062
Page parsed
1063
Page parsed
1064
Page parsed
1065
Page parsed
1066
Page parsed
1067
Page parsed
1068
Page parsed
1069
Page parsed
1070
Page parsed
1071
Page parsed
1072
Page parsed
1073
Page parsed
1074
Page parsed
1075
Page parsed
1076
Page parsed
1077
Page parsed
1078
Page parsed
1079
Page parsed
1080
Page parsed
1081
Page parsed
1082
Page parsed
1083
Page parsed
1084
Page parsed
1085
Page parsed
1086
Page parsed
1087
Page parsed
1088
Page parsed
1089
Page parsed
1090
Page parsed
1091
Page parsed
1092
Page parsed
1093
Page parsed
1094
Page parsed
1095
Page parsed
1096
Page parsed
1097
Page parsed
1098
Page parsed
1099
Page parsed
1100

In [62]:
print(df_test.shape)

df_test.to_csv('Data_Boliga_20220208.csv', index  = False)

(54793, 9)

In [91]:
df_test

,Type,StreetAddress,Area,Price,Date,SellType,Size,Price_m2,Rooms_YearBuilt_PriceChange
0,E,"Amerika Plads 6, 3. th",2100 København Ø,5.000.000 kr.,17-01-2022,Alm. Salg,93 m²,53.763 kr/m²,3 2007 -5% Aktuel værdi
0,E,"Strandvejen 8, 3. tv",2100 København Ø,8.495.000 kr.,14-01-2022,Alm. Salg,170 m²,49.971 kr/m²,6 1929 Aktuel værdi
0,E,"Nørrebrogade 9F, 1. th",2200 København N,5.400.000 kr.,14-01-2022,Alm. Salg,105 m²,51.429 kr/m²,3 1863 -2% Aktuel værdi
0,E,"Badensgade 48, 2",2300 København S,7.200.000 kr.,14-01-2022,Alm. Salg,65 m²,110.769 kr/m²,3 1899 Aktuel værdi
0,E,"Badensgade 48, 1",2300 København S,7.200.000 kr.,14-01-2022,Alm. Salg,79 m²,91.139 kr/m²,3 1899 Aktuel værdi
...,...,...,...,...,...,...,...,...,...
0,E,"Esromgade 26, 2",2200 København N,8.350.000 kr.,02-01-2015,Alm. Salg,106 m²,78.774 kr/m²,2 1904 Aktuel værdi
0,E,"Esromgade 26, 1. tv",2200 København N,8.350.000 kr.,02-01-2015,Alm. Salg,56 m²,149.107 kr/m²,1 1904 Aktuel værdi
0,E,"Esromgade 26, 3. th",2200 København N,8.350.000 kr.,02-01-2015,Alm. Salg,59 m²,141.525 kr/m²,1 1904 Aktuel værdi
0,E,"Esromgade 26, 4",2200 København N,8.350.000 kr.,02-01-2015,Alm. Salg,183 m²,45.628 kr/m²,6 1904 Aktuel værdi
0,E,"Esromgade 26, 3. tv",2200 København N,8.350.000 kr.,02-01-2015,Alm. Salg,56 m²,149.107 kr/m²,1 1904 Aktuel værdi

# Clean data

In [2]:
df_test =  pd.read_csv('Data_Boliga_20220208.csv')

df = df_test.copy()

df

,Type,StreetAddress,Area,Price,Date,SellType,Size,Price_m2,Rooms_YearBuilt_PriceChange
0,E,"Amerika Plads 6, 3. th",2100 København Ø,5.000.000 kr.,17-01-2022,Alm. Salg,93 m²,53.763 kr/m²,3 2007 -5% Aktuel værdi
1,E,"Strandvejen 8, 3. tv",2100 København Ø,8.495.000 kr.,14-01-2022,Alm. Salg,170 m²,49.971 kr/m²,6 1929 Aktuel værdi
2,E,"Nørrebrogade 9F, 1. th",2200 København N,5.400.000 kr.,14-01-2022,Alm. Salg,105 m²,51.429 kr/m²,3 1863 -2% Aktuel værdi
3,E,"Badensgade 48, 2",2300 København S,7.200.000 kr.,14-01-2022,Alm. Salg,65 m²,110.769 kr/m²,3 1899 Aktuel værdi
4,E,"Badensgade 48, 1",2300 København S,7.200.000 kr.,14-01-2022,Alm. Salg,79 m²,91.139 kr/m²,3 1899 Aktuel værdi
...,...,...,...,...,...,...,...,...,...
54788,E,"Esromgade 26, 2",2200 København N,8.350.000 kr.,02-01-2015,Alm. Salg,106 m²,78.774 kr/m²,2 1904 Aktuel værdi
54789,E,"Esromgade 26, 1. tv",2200 København N,8.350.000 kr.,02-01-2015,Alm. Salg,56 m²,149.107 kr/m²,1 1904 Aktuel værdi
54790,E,"Esromgade 26, 3. th",2200 København N,8.350.000 kr.,02-01-2015,Alm. Salg,59 m²,141.525 kr/m²,1 1904 Aktuel værdi
54791,E,"Esromgade 26, 4",2200 København N,8.350.000 kr.,02-01-2015,Alm. Salg,183 m²,45.628 kr/m²,6 1904 Aktuel værdi
54792,E,"Esromgade 26, 3. tv",2200 København N,8.350.000 kr.,02-01-2015,Alm. Salg,56 m²,149.107 kr/m²,1 1904 Aktuel værdi

Clean text data

In [3]:
# Clean text columns
df['Price'] = df['Price'].str.replace('.', '', regex = True).str.replace('kr', '', regex = True)
df['Size'] = df['Size'].str.extract('(\d+)')
df['Price_m2']  = df['Price_m2'].str.replace('.', '', regex = True).str.extract('(\d+)')
df[['Rooms', 'YearBuilt', 'PriceChange']] =  df['Rooms_YearBuilt_PriceChange'].str.split(' ', expand = True).iloc[:,0:3]
df.loc[df['PriceChange'] == 'Aktuel', ['PriceChange']] = '0'
df['PriceChange'] = df['PriceChange'].str.replace('%', '', regex  =True)

df['PostalCode'] = df['Area'].str.extract('(\d{4})')
df['AreaName'] = df['Area'].str.extract('(\D+)')

df.head()

,Type,StreetAddress,Area,Price,Date,SellType,Size,Price_m2,Rooms_YearBuilt_PriceChange,Rooms,YearBuilt,PriceChange,PostalCode,AreaName
0,E,"Amerika Plads 6, 3. th",2100 København Ø,5000000,17-01-2022,Alm. Salg,93,53763,3 2007 -5% Aktuel værdi,3,2007,-5,2100,København Ø
1,E,"Strandvejen 8, 3. tv",2100 København Ø,8495000,14-01-2022,Alm. Salg,170,49971,6 1929 Aktuel værdi,6,1929,0,2100,København Ø
2,E,"Nørrebrogade 9F, 1. th",2200 København N,5400000,14-01-2022,Alm. Salg,105,51429,3 1863 -2% Aktuel værdi,3,1863,-2,2200,København N
3,E,"Badensgade 48, 2",2300 København S,7200000,14-01-2022,Alm. Salg,65,110769,3 1899 Aktuel værdi,3,1899,0,2300,København S
4,E,"Badensgade 48, 1",2300 København S,7200000,14-01-2022,Alm. Salg,79,91139,3 1899 Aktuel værdi,3,1899,0,2300,København S

Modify values throwing errors

In [4]:
df[df.isnull().any(axis = 1)]
df.loc[df['Price_m2'].isnull(), 'Price_m2'] = '0'


df[df.isin(['299.499.900']).any(axis = 1)]
df.loc[df['PriceChange'] == '299.499.900', 'PriceChange'] = '0'

Drop redundant column

In [5]:
# Drop redundant column
df.drop('Rooms_YearBuilt_PriceChange', inplace = True, axis = 1)

Write clean data

In [6]:
df.to_csv('Data_Boliga_20220208_cleaned.csv', index  = False)

In [128]:


# Convert columns to integer
l_cols_int = ['Price', 'Size', 'Price_m2','YearBuilt', 'PriceChange']
df[l_cols_int] = df[l_cols_int].astype(int)

# Convert datetime column
df['Date'] = pd.to_datetime(df['Date'])

# Convert to categorical columns
l_cols_cat = ['Type', 'SellType', 'Rooms', 'PostalCode']
df[l_cols_cat] = df[l_cols_cat].astype('category')

df.head()

,Type,StreetAddress,Area,Price,Date,SellType,Size,Price_m2,Rooms,YearBuilt,PriceChange,PostalCode,AreaName
0,E,"Amerika Plads 6, 3. th",2100 København Ø,5000000,2022-01-17,Alm. Salg,93,53763,3,2007,-5,2100,København Ø
0,E,"Strandvejen 8, 3. tv",2100 København Ø,8495000,2022-01-14,Alm. Salg,170,49971,6,1929,0,2100,København Ø
0,E,"Nørrebrogade 9F, 1. th",2200 København N,5400000,2022-01-14,Alm. Salg,105,51429,3,1863,-2,2200,København N
0,E,"Badensgade 48, 2",2300 København S,7200000,2022-01-14,Alm. Salg,65,110769,3,1899,0,2300,København S
0,E,"Badensgade 48, 1",2300 København S,7200000,2022-01-14,Alm. Salg,79,91139,3,1899,0,2300,København S

In [132]:
df_in = pd.read_csv('Data_Boliga_20220208_cleaned.csv')

df_in.dtypes

Type             object
StreetAddress    object
Area             object
Price             int64
Date             object
SellType         object
Size              int64
Price_m2          int64
Rooms             int64
YearBuilt         int64
PriceChange       int64
PostalCode        int64
AreaName         object
dtype: object

# Old

In [ ]:
# Function
def fun_scrape_boliga(
    URL, # link to search
    do_print  = 0 # set 1 to print
):
    # Request page
    text = requests.get(URL,
                    headers = headers
                   )
    
    # Create soup of content
    soup1 = BeautifulSoup(text.content, 'html.parser')
    
    ## Parse website ##
    # Initialize empty list for data frames
    l_dfs = []
    
    # Loop through rows
    for count, r in enumerate(soup1.findAll('table')[0].findAll('tr')):
        
        # Find data for row
        r_c = r.find_all('td',  class_ = "table-col text-center")
        
        # Initialize empty list for values
        l_values = []
        
        ## Extract values ##
        # Address
        t_address = r.find('a', class_ = "text-primary font-weight-bolder text-left").text
        # House type
        t_type = r.find('span', class_= 'icon').text
        
        # Appned values
        l_values.append(t_address)
        l_values.append(t_type)
        
        
        # Loop through items in data
        for c in r_c:
            # Append values to list
            l_values.append(c.text)
            
            
        # Create list with column names
        l_col_names = ['Address','Type', 'Price', 'Date_SellType', 'Size', 'Price_size', 'Rooms', 'Built', 'PriceChange', 'Link']
        
        # Zip values and columns names to dict
        dict_row = dict(zip(l_col_names, l_values))
        
        # Create data frame from dict
        df = pd.DataFrame.from_dict([dict_row])
        
        # Append data frame to list of data frames
        l_dfs.append(df)
        
        if print == 1:
            print('Row {} parsed'.format(count))
        
    # Concatenate dataframes to one, and return
    df_out = pd.concat(l_dfs)
    
    print('Page parsed')
    return df_out

In [83]:
2000/60

33.333333333333336