# Setup

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import re
import time
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

## Connect
Set up connection

In [1]:
# Set URL to search from website
URL = 'https://www.boliga.dk/salg/resultater?propertyType=1,2,3&municipality=101&salesDateMin=2015&salesDateMax=today&searchTab=1&sort=date-d&page=1'

# Set user agent
''' Link to find user agent
https://httpbin.org/get
'''
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/97.0.4692.99 Safari/537.36',
    "Accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.9", 
    "Accept-Encoding": "gzip, deflate, br"
}

In [ ]:
# Request page
text = requests.get(URL,
                    headers = headers
                   )

## Using BeatifulSoup

In [ ]:
# Read page
soup1 = BeautifulSoup(text.content, 'html.parser')

print(soup1.prettify())

In [ ]:
soup1.findAll('table')[0].findAll('tr')[0]

In [ ]:
r1 = soup1.findAll('table')[0].findAll('tr')[0]

print(r1)

## Parse website

In [ ]:


r1_c = r1.find_all('td',  class_ = "table-col text-center")

l_values = []
t_address = r1.find('a', class_ = "text-primary font-weight-bolder text-left").text
t_type = r1.find('span', class_= 'icon').text


l_values.append(t_address)
l_values.append(t_type)

for c in r1_c:
    l_values.append(c.text)
    
    
print(l_values)

l_col_names = ['Address','Type', 'Price', 'Date_SellType', 'Size', 'Price_size', 'Rooms', 'Built', 'PriceChange', 'Link']

dict_row = dict(zip(l_col_names, l_values))

print(dict_row)

pd.DataFrame.from_dict([dict_row])

### Loop to parse website

In [ ]:
l_dfs = []

for r in soup1.findAll('table')[0].findAll('tr'):
    
    r1_c = r.find_all('td',  class_ = "table-col text-center")

    l_values = []
    t_address = r1.find('a', class_ = "text-primary font-weight-bolder text-left").text
    t_type = r1.find('span', class_= 'icon').text


    l_values.append(t_address)
    l_values.append(t_type)

    for c in r1_c:
        l_values.append(c.text)


    #print(l_values)

    l_col_names = ['Address','Type', 'Price', 'Date_SellType', 'Size', 'Price_size', 'Rooms', 'Built', 'PriceChange', 'Link']

    dict_row = dict(zip(l_col_names, l_values))

    #print(dict_row)

    df = pd.DataFrame.from_dict([dict_row])
    
    l_dfs.append(df)
    

pd.concat(l_dfs).head()

## Selenium

In [9]:
wd = webdriver.Chrome(executable_path='chromedriver.exe')

wd.get(URL)
    
wd.find_element_by_xpath('//*[@id="coiPage-1"]/div[2]/div[1]/button[2]').click()

SessionNotCreatedException: Message: session not created: This version of ChromeDriver only supports Chrome version 97
Current browser version is 99.0.4844.51 with binary path C:\Program Files (x86)\Google\Chrome\Application\chrome.exe

In [35]:
table = wd.find_element_by_xpath('/html/body/app-root/app-scroll-position-restoration/app-main-layout/app-sold-properties-list/div[3]/app-sold-list-table/table')

l_dfs = []

for r in table.find_elements_by_tag_name('tr'):
    
    l_values = []
    
    l_values = r.text.split('\n')

        # Create list with column names
    l_col_names = ['Type', 'StreetAddress','Area', 'Price', 'Date','SellType', 'Size', 'Price_m2', 'Rooms_YearBuilt_PriceChange']

    # Zip values and columns names to dict
    dict_row = dict(zip(l_col_names, l_values))

    # Create data frame from dict
    df = pd.DataFrame.from_dict([dict_row])
    
    l_dfs.append(df)
    
pd.concat(l_dfs)

,Type,StreetAddress,Area,Price,Date,SellType,Size,Price_m2,Rooms_YearBuilt_PriceChange
0,E,"Amerika Plads 6, 3. th",2100 København Ø,5.000.000 kr.,17-01-2022,Alm. Salg,93 m²,53.763 kr/m²,3 2007 -5% Aktuel værdi
0,E,"Strandvejen 8, 3. tv",2100 København Ø,8.495.000 kr.,14-01-2022,Alm. Salg,170 m²,49.971 kr/m²,6 1929 Aktuel værdi
0,E,"Nørrebrogade 9F, 1. th",2200 København N,5.400.000 kr.,14-01-2022,Alm. Salg,105 m²,51.429 kr/m²,3 1863 -2% Aktuel værdi
0,E,"Badensgade 48, 2",2300 København S,7.200.000 kr.,14-01-2022,Alm. Salg,65 m²,110.769 kr/m²,3 1899 Aktuel værdi
0,E,"Badensgade 48, 1",2300 København S,7.200.000 kr.,14-01-2022,Alm. Salg,79 m²,91.139 kr/m²,3 1899 Aktuel værdi
0,E,"Badensgade 48, st",2300 København S,7.200.000 kr.,14-01-2022,Alm. Salg,79 m²,91.139 kr/m²,3 1899 Aktuel værdi
0,E,"Nattergalevej 52, 1. tv",2400 København NV,2.895.000 kr.,14-01-2022,Alm. Salg,54 m²,53.611 kr/m²,2 1937 0% Aktuel værdi
0,E,"Sorrentovej 14, 1. tv",2300 København S,2.330.000 kr.,14-01-2022,Alm. Salg,52 m²,44.808 kr/m²,2 1940 -2% Aktuel værdi
0,E,"Murmanskgade 3, st. tv",2150 Nordhavn,4.900.000 kr.,14-01-2022,Alm. Salg,162 m²,30.247 kr/m²,6 2017 Aktuel værdi
0,E,"Murmanskgade 3, 3. mf",2150 Nordhavn,8.972.500 kr.,14-01-2022,Alm. Salg,139 m²,64.550 kr/m²,3 2017 Aktuel værdi
0,R,Weysesgade 51,2100 København Ø,13.150.000 kr.,13-01-2022,Alm. Salg,136 m²,96.691 kr/m²,7 1892 -3% Aktuel værdi
0,E,"Kabbelejevej 13, 2. mf",2700 Brønshøj,1.505.000 kr.,13-01-2022,Fam. Salg,51 m²,29.510 kr/m²,2 1935 Aktuel værdi
0,E,"Gyldenlakvej 33, 3. tv",2300 København S,2.050.000 kr.,13-01-2022,Alm. Salg,57 m²,35.965 kr/m²,2 1938 -7% Aktuel værdi
0,E,"Halmtorvet 29B, 1. tv",1700 København V,1.207.560 kr.,13-01-2022,Alm. Salg,94 m²,12.846 kr/m²,3 1908 Aktuel værdi
0,E,"Søllerødgade 35, 3. th",2200 København N,1.060.000 kr.,13-01-2022,Fam. Salg,51 m²,20.784 kr/m²,2 1903 Aktuel værdi
0,R,Luftmarinegade 144,1432 København K,3.112.464 kr.,12-01-2022,Andet,148 m²,21.030 kr/m²,5 2012 Aktuel værdi
0,E,"Flensborggade 3, 1. tv",1669 København V,1.500.000 kr.,12-01-2022,Alm. Salg,52 m²,28.846 kr/m²,2 1896 Aktuel værdi
0,E,"Dybbølsgade 13, 2. tv",1721 København V,1.437.500 kr.,12-01-2022,Fam. Salg,61 m²,23.566 kr/m²,3 1908 Aktuel værdi
0,E,"Maribovej 17, st. tv",2500 Valby,2.025.000 kr.,12-01-2022,Alm. Salg,55 m²,36.818 kr/m²,2 1933 -3% Aktuel værdi
0,E,"Ved Ovnhallen 3, 1. tv",2500 Valby,4.800.000 kr.,12-01-2022,Alm. Salg,101 m²,47.525 kr/m²,3 2007 -4% Aktuel værdi
0,E,"Silkeborggade 43, 4. th",2100 København Ø,1.725.000 kr.,12-01-2022,Fam. Salg,69 m²,25.000 kr/m²,2 1916 Aktuel værdi
0,V,Rønhaven 9,2500 Valby,998.750 kr.,12-01-2022,Fam. Salg,124 m²,8.054 kr/m²,4 1934 Aktuel værdi
0,E,"Havdrupvej 71, st. th",2700 Brønshøj,3.000.000 kr.,11-01-2022,Fam. Salg,71 m²,42.254 kr/m²,3 1914 Aktuel værdi
0,E,"Havdrupvej 71, st. tv",2700 Brønshøj,3.000.000 kr.,11-01-2022,Fam. Salg,61 m²,49.180 kr/m²,3 1914 Aktuel værdi
0,E,"Havdrupvej 71, 1. th",2700 Brønshøj,3.000.000 kr.,11-01-2022,Fam. Salg,61 m²,49.180 kr/m²,3 1914 Aktuel værdi
0,E,"Havdrupvej 71, 2",2700 Brønshøj,3.000.000 kr.,11-01-2022,Fam. Salg,122 m²,24.590 kr/m²,6 1914 Aktuel værdi
0,E,"Havdrupvej 71, 1. tv",2700 Brønshøj,3.000.000 kr.,11-01-2022,Fam. Salg,61 m²,49.180 kr/m²,3 1914 Aktuel værdi
0,E,"Vestervang 32, 1. th",2500 Valby,1.325.000 kr.,11-01-2022,Alm. Salg,74 m²,17.905 kr/m²,2 1935 Aktuel værdi
0,E,"Toftegårds Allé 45, 2. tv",2500 Valby,4.300.000 kr.,11-01-2022,Alm. Salg,95 m²,45.263 kr/m²,4 1932 -4% Aktuel værdi
0,E,"Teglholm Allé 9D, st. th",2450 København SV,4.725.000 kr.,11-01-2022,Alm. Salg,93 m²,50.806 kr/m²,3 2006 0% Aktuel værdi
0,E,"Peter Fabers Gade 16, st. tv",2200 København N,1.780.000 kr.,11-01-2022,Fam. Salg,51 m²,34.902 kr/m²,2 1893 Aktuel værdi
0,R,Doris Lessings Vej 37B,2300 København S,6.300.000 kr.,10-01-2022,Alm. Salg,150 m²,42.000 kr/m²,5 2017 Aktuel værdi
0,E,"Hessensgade 43, 2. th",2300 København S,850.000 kr.,10-01-2022,Fam. Salg,46 m²,18.478 kr/m²,2 1962 Aktuel værdi
0,E,"Vestbanevej 14, 1. tv",2500 Valby,3.600.000 kr.,10-01-2022,Alm. Salg,77 m²,46.753 kr/m²,3 1934 -3% Aktuel værdi
0,E,"Lysefjordsgade 3, 1. tv",2300 København S,2.500.000 kr.,10-01-2022,Alm. Salg,58 m²,43.103 kr/m²,2 1912 -2% Aktuel værdi
0,V,Topasgangen 4,2300 København S,3.000.000 kr.,10-01-2022,Andet,60 m²,50.000 kr/m²,3 1950 Aktuel værdi
0,R,Robert Jacobsens Vej 10P,2300 København S,2.625.000 kr.,07-01-2022,Alm. Salg,114 m²,23.026 kr/m²,4 2016 Aktuel værdi
0,E,"Bryggerivej 8, st. tv",2500 Valby,1.207.500 kr.,07-01-2022,Fam. Salg,62 m²,19.476 kr/m²,2 1912 Aktuel værdi
0,E,"Kongelundsvej 71A, st. 2",2300 København S,1.700.000 kr.,07-01-2022,Alm. Salg,47 m²,36.170 kr/m²,1 1968 -5% Aktuel værdi
0,E,"C.F. Møllers Allé 56, st. tv",2300 København S,850.000 kr.,07-01-2022,Fam. Salg,94 m²,9.043 kr/m²,3 2007 Aktuel værdi
0,E,"Sundkaj 69, 4. tv",2150 Nordhavn,8.250.000 kr.,07-01-2022,Alm. Salg,118 m²,69.915 kr/m²,3 2018 -3% Aktuel værdi
0,V,Søndervigvej 54,2720 Vanløse,619.072 kr.,07-01-2022,Fam. Salg,156 m²,3.968 kr/m²,5 1930 Aktuel værdi
0,E,"Farumgade 1, 1. th",2200 København N,1.200.000 kr.,06-01-2022,Fam. Salg,51 m²,23.529 kr/m²,2 1892 Aktuel værdi
0,E,"Thingvalla Allé 27, st",2300 København S,3.510.000 kr.,06-01-2022,Fam. Salg,120 m²,29.250 kr/m²,4 1907 Aktuel værdi
0,E,"Thingvalla Allé 27, 1",2300 København S,3.510.000 kr.,06-01-2022,Fam. Salg,180 m²,19.500 kr/m²,7 1907 Aktuel værdi
0,E,"Fredericiagade 48, 2",1310 København K,3.950.000 kr.,06-01-2022,Alm. Salg,126 m²,31.349 kr/m²,3 1750 Aktuel værdi
0,V,Eskildstrupvej 7,2700 Brønshøj,562.939 kr.,06-01-2022,Alm. Salg,150 m²,3.127 kr/m²,8 1934 Aktuel værdi
0,E,"Korsørgade 44, 1. th",2100 København Ø,3.000.000 kr.,05-01-2022,Fam. Salg,62 m²,48.387 kr/m²,2 1911 Aktuel værdi
0,E,Overbys Allé 1A,2500 Valby,7.550.000 kr.,05-01-2022,Alm. Salg,121 m²,62.397 kr/m²,6 1900 -6% Aktuel værdi
0,E,"Lemnosvej 32, 1",2300 København S,3.950.000 kr.,05-01-2022,Alm. Salg,88 m²,44.886 kr/m²,3 1914 -1% Aktuel værdi

In [ ]:
#for r in wd.find_elements_by_tag_name('tr'):
#    print(r.text)
l_table_rows = WebDriverWait(wd, 10).until(
EC.presence_of_all_elements_located((By.TAG_NAME, 'tr'))
)

for r in l_table_rows:
    print(r.text)

In [ ]:
buttons = wd.find_elements_by_class_name('page-button')

l_n_pages = []
for button in buttons:
    try:
        n_pages = int(button.text)
        print(n_pages)
        
        l_n_pages.append(n_pages)
    
    except:
        next

max(l_n_pages)

1
8
9
10
11
12
1078
1
8
9
10
11
12
1078

1078

In [44]:
i = 1
while i < 10:
    print(i)
    i += 1
    wd.find_element_by_xpath('/html/body/app-root/app-scroll-position-restoration/app-main-layout/app-sold-properties-list/div[3]/div/div/app-pagination/div/div[4]/a').click()

1
2
3
4
5
6
7
8
9

In [ ]:
l_n_pages = []
for button in soup1.find_all('a', class_= 'page-button'):
    try:
        n_pages = int(button.text)
        print(n_pages)
        
        l_n_pages.append(n_pages)
    
    except:
        next

max(l_n_pages)

## Connect
Set up connection

In [2]:
# Set URL to Boliga search
URL = 'https://www.boliga.dk/salg/resultater?propertyType=1,2,3&municipality=101&salesDateMin=2015&salesDateMax=today&searchTab=1&sort=date-d&page=1'

# Set user agent
''' Link to find user agent
https://httpbin.org/get
'''
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/97.0.4692.99 Safari/537.36',
    "Accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.9", 
    "Accept-Encoding": "gzip, deflate, br"
}

## Functions

### Function 1
Create function to scrape single page from Boliga.

In [3]:
def fun_scrape_boliga(
    wd, # Webdriver session
    do_print  = 0 # set 1 to print
):
    
    # Find table element
    table = WebDriverWait(wd, 10).until(
    EC.presence_of_element_located((By.XPATH, '/html/body/app-root/app-scroll-position-restoration/app-main-layout/app-sold-properties-list/div[3]/app-sold-list-table/table'))
    )
    
    
    # Initalize list to data frames
    l_dfs = []    
    
    # Find table rows
    l_table_rows = WebDriverWait(wd, 20).until(
    EC.presence_of_all_elements_located((By.TAG_NAME, 'tr'))
    )
    
    
    
    # Loop through table rows
    for r in l_table_rows:
        
        # Get values from row
        l_values = r.text.split('\n')
        
        # Create list with column names
        l_col_names = ['Type', 'StreetAddress','Area', 'Price', 'Date','SellType', 'Size', 'Price_m2', 'Rooms_YearBuilt_PriceChange']

        # Zip values and columns names to dict
        dict_row = dict(zip(l_col_names, l_values))

        # Create data frame from dict
        df = pd.DataFrame.from_dict([dict_row])
        
        # Append values to data frame
        l_dfs.append(df)
        
        # Print row number
        if print == 1:
            print('Row {} parsed'.format(count))
    
        
    # Concatenate dataframes to one, and return
    df_out = pd.concat(l_dfs)
    
    print('Page parsed')
    return df_out

### Function 2
Create function to loop through all pages of search on Boliga

In [4]:
def fun_loop_boliga(
    wd, # Webdriver session
    date, # date to add to file names
    max_pages = 2000, # maximum number of pages to search through
    sleep_time = 2 # wait time
):

    ## Find number of pages ## 
    # Find buttons 
    l_buttons = wd.find_elements_by_class_name('page-button')
    
    # Initialize empty list to store number of pages
    l_n_pages = []
    
    # For ech botton, save text in list
    for button in l_buttons:
        try:
            n_pages = int(button.text)
            l_n_pages.append(n_pages)
        except:
            next
            
    # Find maximum in list
    max(l_n_pages)
    n_pages = max(l_n_pages)
    print('Number of pages: {}'.format(n_pages))
      
    # Change number of pages if maximum is exceeded
    if max_pages < n_pages:
        n_pages = max_pages
        print('Number of pages set to max. pages: {}'.format(n_pages))
    
    
    ## Loop through pages ## 
    # Initialize empty list of data frames
    l_dfs = []
    
    i = 1
    while i <= n_pages:

        time.sleep(sleep_time)
        
        # Call function to scrape single page
        df = fun_scrape_boliga(wd)
        
        file = 'Files/BoligaScraping_' + str(date) + '_Page_{}.csv'.format(i)
        
        # Print each page to a file, in case of lost connection
        df.to_csv(file,
                 index = False)
        
        print(i)
        i += 1
                
        # Append data frame to list
        l_dfs.append(df)
        
        # Get next page
        wd.find_element_by_xpath('/html/body/app-root/app-scroll-position-restoration/app-main-layout/app-sold-properties-list/div[3]/div/div/app-pagination/div/div[4]/a').click()
        
        
    # Concatenate data frames
    df_out = pd.concat(l_dfs)
    
    print('Done!')
    return(df_out)

# Scrape

In [5]:
# Initialize Chrome
wd = webdriver.Chrome(executable_path='chromedriver.exe')

# Go to page
wd.get(URL)

# Click to pass Cookie pop-up
wd.find_element_by_xpath('//*[@id="coiPage-1"]/div[2]/div[1]/button[2]').click()


# Run function to scrape websie
df = fun_loop_boliga(wd,
                     date = 20220314,
                     max_pages = 1,
                     sleep_time = 3)

Number of pages: 1087
Number of pages set to max. pages: 1
Page parsed
1
Done!

Check data

In [7]:
print(df.shape)

df.head()

(50, 9)

,Type,StreetAddress,Area,Price,Date,SellType,Size,Price_m2,Rooms_YearBuilt_PriceChange
0,E,"Damagervej 5B, st. tv",2450 København SV,1.300.000 kr.,02-03-2022,Fam. Salg,66 m²,19.697 kr/m²,2 1953 Aktuel værdi
0,E,"Hobrogade 4, 4. tv",2100 København Ø,1.955.000 kr.,02-03-2022,Fam. Salg,72 m²,27.153 kr/m²,3 1900 Aktuel værdi
0,E,"Havdrupvej 11, st. tv",2700 Brønshøj,2.000.000 kr.,02-03-2022,Alm. Salg,54 m²,37.037 kr/m²,2 1937 -5% Aktuel værdi
0,E,"Esbern Snares Gade 14, 4. th",1725 København V,1.147.500 kr.,01-03-2022,Fam. Salg,61 m²,18.811 kr/m²,2 1907 Aktuel værdi
0,E,"Victor Borges Plads 4, 1. th",2100 København Ø,6.384.354 kr.,01-03-2022,Alm. Salg,171 m²,37.335 kr/m²,6 1900 Aktuel værdi

Write data

In [ ]:
#df.to_csv('Data_Boliga_20220208.csv', index  = False)